doctype html
html(lang="en")
  head
    title= item.title
    link(rel="stylesheet", href="/styles.css")
  body
    h1= item.title
    p Category: #{item.category_name}
    p Owner: #{item.username}
    p Size: #{item.size}
    p City: #{item.city}
    p Description: #{item.description}
    p Status: #{item.availability_status}

    h3 Tags
    ul
      each tag in tags
        li= tag.name